﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My Medicines App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="medicines" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Leki
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newmedicine">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nowy lek
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chart">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Liczba leków
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expirationDates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data ważnosci
            </NavLink>
        </div>  
     </nav>
</div>
