﻿
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2">@DataLabel</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is4">
        <Select class="form-control" TValue="int" SelectedValueChanged="@OnChange">
           <SelectItem Value="0">-----</SelectItem>
            @if (Data != null)
            {
                @foreach (var cat in Data)
                {
                    <SelectItem Value="@cat.Id">@cat.Name</SelectItem>
                }
            }           
        </Select>
    </FieldBody>
</Field>
