﻿@if (myMedicines == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Lek</th>                
                <th>Kategoria</th>
                <th>Ilość</th>
                <th>Jednostka</th>
                <th>Data ważności</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in myMedicines)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Category?.Name</td>
                    <td>@m.Quantity</td>
                    <td>@m.Unit?.Name</td>
                    <td>@m.ExpirationDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
