﻿@page "/expirationDates"
@using Blazorise.DataGrid;
@using MyMedicines.Biz.Models

<DataGrid TItem="ExpirationDate"
          Data="@medsList"
          RowStyling="@OnRowStyling"
          Responsive
          Virtualize
          VirtualizeOptions="@(new() { DataGridHeight = "750px"})">
    <DataGridCommandColumn TItem="ExpirationDate" />
    <DataGridColumn TItem="ExpirationDate" Field="@nameof(ExpirationDate.Year)" Caption="Rok" Sortable="true"/>
    <DataGridColumn TItem="ExpirationDate" Field="@nameof(ExpirationDate.Month)" Caption="Miesiąc">
        <DisplayTemplate>
            @{
                var month = (context as ExpirationDate).Month;
                @(MonthIdToLabel(month))
            }
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="ExpirationDate" Field="@nameof(ExpirationDate.MedicineName)" Caption="Nazwa leku" />
</DataGrid>
