﻿@page "/medicines"
@using MyMedicines.Biz.Models

<PageTitle>Medicines</PageTitle>

<h3>Medicines</h3>

<SelectCategory Data="@Categories" DataLabel="Kategoria"/>
<TableMedicines myMedicines="medicinesList"/>



