﻿@page "/newmedicine"
@using Blazorise
@using MyMedicines.Biz.Models;
@using MyMedicines.Blazor.Shared;
<h3>Nowy lek</h3>

<Validations @ref="validations" Mode="ValidationMode.Manual" Model="@medicine">
    <Validation>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2">Nazwa</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is4">
                <TextEdit Placeholder="Podaj nazwę" @bind-Text="@medicine.Name">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </FieldBody>
        </Field>
    </Validation>
    <br />
    <Validation>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is2">Ilość</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is4">
                <NumericEdit @bind-Value=medicine.Quantity />
            </FieldBody>
        </Field>
    </Validation>
    <SelectCategory @bind-Cat="categoryId" Data="@(categories!=null ? categories.Cast<IParameter>().ToList() : null)" DataLabel="Kategoria" />
    <br />
    <SelectCategory @bind-Un="unitId" Data="@(units!=null ? units.Cast<IParameter>().ToList() : null)" DataLabel="Jednostka" />
    <br />
    <Field Horizontal="true">
        <FieldLabel ColumnSize="ColumnSize.Is2">Data ważności</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is4">
            <DateEdit TValue="DateTime" @bind-Date=medicine.ExpirationDate />
        </FieldBody>
    </Field>
    <br/>
    <Field Horizontal="true">
        <FieldBody ColumnSize="ColumnSize.Is5"></FieldBody>
        <FieldBody ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Primary" Clicked="@Submit">Submit</Button>
        </FieldBody>
    </Field>
</Validations>